# All other changes require the primary team
* @GregTechCEu/community-pack

# GitHub Actions changes require admin approval
/.github/** @GregTechCEu/admin

# Specific files requiring admin approval
CHANGELOG.md @GregTechCEu/admin
CHANGELOG-GTCEU.md @GregTechCEu/admin
CODEOWNERS @GregTechCEu/admin
CODESTYLE.md @GregTechCEu/admin
LICENSE @GregTechCEu/admin
README.md @GregTechCEu/admin
permission*.png @GregTechCEu/admin

# Build stuff should be reviewed by specific people
/build/** @htmlcsjs @TechLord22
